<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NearNeed">
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".DiscoveryMapActivity"
            android:exported="false" />

        <activity
            android:name=".GigDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ApplySuccessActivity"
            android:exported="false" />

        
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />

        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileInfoActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileSetupActivity"
            android:exported="false" />

        <activity
            android:name=".PreferencesActivity"
            android:exported="false" />
            
        <activity
            android:name=".CommunityPreferencesActivity"
            android:exported="false" />
            
        <activity
            android:name=".IdVerificationActivity"
            android:exported="false" />
            
        <activity
            android:name=".ProfileSuccessActivity"
            android:theme="@style/Theme.NearNeed.Transparent"
            android:exported="false" />
            
        <activity
            android:name=".IdVerifiedActivity"
            android:theme="@style/Theme.NearNeed.Transparent"
            android:exported="false" />
            
        <activity
            android:name=".OtpEnterActivity"
            android:exported="false" />
            
        <activity
            android:name=".OtpVerifyActivity"
            android:exported="false" />

        <activity
            android:name=".CreatePostActivity"
            android:exported="false" />

        <activity
            android:name=".JobsActivity"
            android:exported="false" />

        <activity
            android:name=".CreateCommunityPostActivity"
            android:exported="false" />

        <activity
            android:name=".CreateCommunityPostStep2Activity"
            android:exported="false" />

        <activity
            android:name=".CommunityPostSuccessActivity"
            android:exported="false" />

        <activity
            android:name=".CreateGigActivity"
            android:exported="false" />

        <activity
            android:name=".CreateGigStep2Activity"
            android:exported="false" />

        <activity
            android:name=".GigSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityVolunteerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommunityVolunteerStep2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NearNeed.Transparent" />

        <activity
            android:name=".ResponseSentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MyCommunityPostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VolunteerManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VolunteerResponsesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PostStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UpdateStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RateVolunteersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CommunityRatingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RatingSubmittedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".RatingScreenGigActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".RatingConfirmedGigsActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".UserProfileActivity" android:exported="false" />
        <activity android:name=".EditProfileActivity" android:exported="false" />
        <activity android:name=".SavedTasksActivity" android:exported="false" />
        <activity android:name=".MyPostsActivity" android:exported="false" />
        <activity android:name=".HelpSupportActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".ReviewsActivity" android:exported="false" />
        <activity android:name=".RecentActivityActivity" android:exported="false" />
        <activity android:name=".MessagesActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ChatActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".GigApplicantsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".PaymentActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".PaymentConfirmedGigsActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".DiscoveryMapCommunityActivity" android:exported="false" android:screenOrientation="portrait" />

        <activity android:name=".ResetPasswordActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TermsConditionsActivity" android:exported="false" android:screenOrientation="portrait" />

    </application>

</manifest>